
body {
	font-family: "Gill Sans", "Avenir Next Condensed", sans-serif;
}

h1 {
	border-bottom: 3px solid #bbb;
	text-shadow: 1px 1px 1px #cacaca;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	
	color: #303;
	
	margin-top: 2em;
	margin-bottom: 1em;
}

h3 {
	border-bottom: 1px solid #ccf;
}

body {
	padding: 0;
	margin: 0;
}

#page {
	padding: 0 50px 50px 50px;
}

img {
	border: none;
}

a {
	color: #33a;
}

a:hover {
	color: #55c;
}

p, dl, h3 {
	margin: 1em;
}

ul {
	margin-bottom: 1em;
}

textarea, input, table.detail_select {
	padding: 2px;
	margin: 2px;
}

textarea {
	width: 80%;
	height: 60px;
}

div.toolbar {
	float: right;
}

div.toolbar a.button {
	display: inline-block;
	
	padding: 2pt 6pt;
}

table.listing {
	border-collapse: collapse;
	width: 100%;
	
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	font-size: 11pt;
	
	border: 1px solid #aaa;
	background-color: rgba(10, 100, 200, 0.02);
}

table.listing thead th {
	border-bottom: 1px solid #aaa;
}

table.listing td {
	padding: 5pt;
}

table.listing th {
	padding: 5pt;
	font-weight: normal;
}

table.listing .actions {
	width: 22pt;
}

table.listing tbody th {
	background-color: rgba(10, 100, 200, 0.04);
}

table.listing tbody td.actions {
	text-align: center;
}

table.listing tbody .description {
	background-color: white;
}

table.listing tbody .description {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.listing tr.invalid {
	background-color: #fbb;
}

table.listing thead {
	background: fixed url(/_static/table_background.png);
}

table.listing .date, table.listing .number {
	width: 80px;
	text-align: center;
}

table.listing .datetime, table.listing .number {
	width: 200px;
	text-align: center;
}

table.listing .principal {
	text-align: center;
}

table.listing .total, table.listing .subtotal, table.listing .price, table.listing .quantity, table.listing .tax_rate, table.listing .credit, table.listing .debit {
	text-align: right;
	width: 12%;
	border-left: 1px dashed #ccc;
}

table.listing tfoot {
	border-top: 1px solid #ccc;
	background-color: rgba(0, 80, 200, 0.08);
}

table.listing tfoot td {
	text-align: right;
}

table.listing tbody tr:hover {
	background-color: rgba(0, 80, 200, 0.08);
}

a {
	color: #00f;
	text-decoration: none;
}

a:hover {
	color: #99f;
}

nav { 
	background: #6db3f2;
	background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display: inline-block;
}

nav ul li ul {
	background-color: #1e69de;
}

nav a {
	display: block;
	color: white;
	
	padding: 0 0.4rem;
	font-size: 1.2rem;
	
	/* If you adjust this number, you must also adjust top: below */
	line-height: 2.2rem;
	
	text-decoration: none;
	
	white-space: nowrap;
}

nav a:hover {
	color: white;
	background-color: rgba(109, 179, 242, 0.5);
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 2.2rem;
	z-index: 1;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

nav .action {
	
}

/* Change this in order to change the Dropdown symbol */
nav li > a:after { content: " ▾"; }
nav li > a:only-child:after { content: ''; }

#messages {
	margin: 10px;
}

td ul, td p {
	margin-top: 0;
	margin-bottom: 0;
}

small {
	font-size: 8pt;
}

small.exchanged {
	display: block;
}

fieldset {
	border: none;
}

.company_account_select .disabled {
	background-color: #ccc;
	color: #f00;
}

/* Addresses */

.address.label .phone,
.address.label .email {
	float: right;
	clear: right;
	padding-bottom: 2pt;
}

/* Font Awesome */

a.button {
	text-shadow: 0px 1px 1px #fff;
}

a.button {
	color: #999;
}

a.button:hover {
	color: black;
}

a.button i.fa-minus-circle { color: #900; }
a.button:hover i.fa-minus-circle { color: #f00; }
a.button i.fa-plus-circle { color: #090; }
a.button:hover i.fa-plus-circle { color: #0d0; }
a.button i.fa-edit { color: #009; }
a.button:hover i.fa-edit { color: #00f; }

form.basic fieldset {
	margin: auto;
	border: none;
	padding: 10px;
	
	min-height: 40px;
}

form.basic dl {
	padding: 0px;
	margin: 0px;
}

form.basic dt {
	margin: 0;
	padding: 1px 0 0 0;
	
	clear: both;
	font-size: 12pt;
	display: block;
	float: left;
	text-align: right;
	width: 36%;
}

form.basic dd {
	margin: 0px 15px 15px 40%;
	padding: 0px;
	font-size: 12pt;
}

form.basic dd input, form.basic dd textarea {
	margin: 0px;
}

form.basic dd input[type="text"],
form.basic dd input[type="password"] {
	width: 40%;
}

form.basic dd textarea {
	width: 80%;
	height: 100px;
}

form.basic fieldset.footer {
	text-align: right;
	padding: 0 10px 0px 0px;
	
	background: none;
	border: none;
}

form.basic dd label.error {
	display: block;
	color: red;
}

form.editor {
}

form.editor fieldset {
	border: 1px solid #aaa;
	background-color: rgba(10, 100, 200, 0.02);
	
	padding: 0;
	margin: 10pt 0;
	
	position: relative;
}

form.editor fieldset legend {
	position: absolute;
	top: 0; left: 0; right: 0;
	
	background: fixed url(/_static/table_background.png);
	border-bottom: 1px solid #aaa;
	
	padding: 5pt;
	
	margin-bottom: 15pt;
}

form.editor fieldset dl {
	padding-top: 10pt;
}

form.editor fieldset legend + * {
	margin-top: 24pt;
}

form.editor fieldset dl + dl {
	margin-top: 20pt;
}

input:required:invalid, input:focus:invalid {
	background-color: #eef;
}

form.editor dd table {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	
	font-size: 80%;
}

form.editor dd table td {
	padding: 5pt 10pt 5pt 10pt;
}

form.editor dd table td.handle {
	width: 5em;
}

form.editor dd table td.item {
	
}

.account.label.inactive {
	color: red;
}